<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
    <main>
        <form class="product-form" action="/admin/edit-product" method="post">
            <div class="form-control">
                <label for="title">Edit Title</label>
                <input type="text" name="title" id="title">
            </div>
            <button type="submit">Edit Product Title</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>
