<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <% if (users.length !== 0) { %>
            <ul>
            <% for (let user of users) { %>
                <li><%= user %></li>
            <% } %>
            </ul>
        <% } else  {%>
        <h1>No users found</h1>
        <% } %>
    </main>
</body>
</html>