<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>
    <form action="/add-users" method="post">
        <input type="text" name="user">
        <button type="submit">Submit</button>
    </form>
</body>
</html>