.form-control {
    margin: 1rem 0;
}

.product-form {
    width: 20em;
    max-width: 90%;
    margin: auto;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
}

.form-control input,
.form-control textarea {
    border: 1px solid #ebbd27;
    font: inherit;
    border-radius: 2px;
}


.form-control input:focus,
.form-control textarea:focus {
    outline-color: #eb8d00;
}